/* styles only index.html
import components used on this page here
*/
/* @import '../components/superParagraph/superParagraph.css'; */


body {
    --background: URL("../images/1.JPG");
    background-image: var(--background);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    font-size: 2em;
}

body.scroll-lock {
    overflow: hidden;
}

.object {
    height: 70vh;
    margin: 20vh;
    margin-left: 1rem;
    position: relative;
}

.object > img {
    z-index: 10;
    transform-origin: left;
    height: 100%;
    width: auto;
}

.object > * {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    z-index: 99;
    position: fixed;
    top: 50%;
    left: 2rem;
    font-size: 3rem;
    background-color: white;
}